Repository ydb-platform/ydb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ydb-platform/docs, @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp, @Krock21, @Krisha11, @zlobober, @gritukan

.github/CODEOWNERS:

/*.md @ydb-platform/docs

/ydb/core/fq/ @ydb-platform/fq
/ydb/core/public_http/ @ydb-platform/fq

/ydb/docs/ @ydb-platform/docs

/ydb/library/yql/ @ydb-platform/yql
/ydb/library/yql/dq @ydb-platform/yql @ydb-platform/qp
/ydb/library/yql/providers/generic @ydb-platform/fq
/ydb/library/yql/providers/pq @ydb-platform/fq
/ydb/library/yql/providers/s3 @ydb-platform/fq
/ydb/library/yql/providers/solomon @ydb-platform/fq

/ydb/library/yql/yt @Krock21 @Krisha11 @zlobober @gritukan

/ydb/services/fq/ @ydb-platform/fq

better
  ydb/core/client/server/grpc_server.cpp
  ydb/core/grpc_streaming/grpc_streaming.h
  ydb/library/grpc/server/actors/ya.make
  ydb/library/grpc/server/logger.h
Owners: none

dq
  ydb/library/yql/tests/sql/dq_file/part17/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part19/canondata/result.json
Owners: @ydb-platform/yql

Fixed bugs
  .github/config/muted_ya.txt
  ydb/public/lib/ydb_cli/commands/ydb_service_table.cpp
  ydb/tests/functional/ydb_cli/canondata/test_ydb_scripting.TestScriptingServiceHelp.test_help/result.output
  ydb/tests/functional/ydb_cli/canondata/test_ydb_scripting.TestScriptingServiceHelp.test_help_ex/result.output
  ydb/tests/functional/ydb_cli/test_ydb_scripting.py
Owners: none

Fixed ignoring --timeout option (#3648)
  .github/config/muted_ya.txt
  ydb/public/lib/ydb_cli/commands/ydb_service_import.cpp
  ydb/public/lib/ydb_cli/commands/ydb_service_table.cpp
  ydb/tests/functional/ydb_cli/canondata/test_ydb_scripting.TestScriptingServiceHelp.test_help/result.output
  ydb/tests/functional/ydb_cli/canondata/test_ydb_scripting.TestScriptingServiceHelp.test_help_ex/result.output
  ydb/tests/functional/ydb_cli/test_ydb_scripting.py
Owners: none

New version of the tld SKIP_CHECK SKIP_REVIEW bdeed1cefc753fe53d18db1219ca5e6b9e030933
  library/cpp/tld/tlds-alpha-by-domain.txt
Owners: none

YT-21501: Remove ChunkMemoryAllocator from TPacketDecoder 82d49dd66617a5911d6d428a09d09aaf20f98ffb
  yt/yt/core/bus/tcp/client.h
  yt/yt/core/bus/tcp/packet.cpp
  yt/yt/core/bus/tcp/packet.h
  yt/yt/core/bus/tcp/server.h
  yt/yt/core/rpc/bus/channel.cpp
  yt/yt/core/rpc/unittests/lib/common.h
Owners: none

YT-21517: Fix local variables leak if coro is abandoned 37387257cd070822da8998d67eda34c29a129167
  yt/yt/core/concurrency/coroutine-inl.h
  yt/yt/core/concurrency/coroutine.cpp
  yt/yt/core/concurrency/coroutine.h
Owners: none

Fix race (#3649)
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_block_reader.cpp
Owners: @ydb-platform/yql

Intermediate changes
  contrib/python/requests-mock/py3/.dist-info/METADATA
  contrib/python/requests-mock/py3/AUTHORS
  contrib/python/requests-mock/py3/requests_mock/adapter.py
  contrib/python/requests-mock/py3/requests_mock/adapter.pyi
  contrib/python/requests-mock/py3/requests_mock/compat.py
  contrib/python/requests-mock/py3/requests_mock/mocker.py
  contrib/python/requests-mock/py3/requests_mock/mocker.pyi
  contrib/python/requests-mock/py3/requests_mock/request.py
  contrib/python/requests-mock/py3/requests_mock/response.py
  contrib/python/requests-mock/py3/requests_mock/response.pyi
  contrib/python/requests-mock/py3/ya.make
  yt/yt/library/process/process.cpp
  yt/yt/library/process/process.h
Owners: none

YT-19625: Calculate replicas lag per card in RTT db2931a285837071f96a32dc0a7b364b35b16681
  yt/yt/client/chaos_client/replication_card.cpp
  yt/yt/client/chaos_client/replication_card.h
Owners: none

Intermediate changes
  contrib/python/httpcore/.dist-info/METADATA
  contrib/python/httpcore/httpcore/__init__.py
  contrib/python/httpcore/httpcore/_async/http2.py
  contrib/python/httpcore/httpcore/_backends/anyio.py
  contrib/python/httpcore/httpcore/_models.py
  contrib/python/httpcore/httpcore/_sync/http2.py
  contrib/python/httpcore/ya.make
Owners: none

Automatic release build for ymake, os_ymake
  build/external_resources/ymake/public.resources.json
  build/external_resources/ymake/resources.json
  build/mapping.conf.json
Owners: none

autoscalling support property
  ydb/public/api/protos/ydb_topic.proto
Owners: none

add [[fallthrough]] (#3551)
  ydb/core/http_proxy/http_req.cpp
Owners: none

cleanup: PYTHON2 and PYTHON3 are always defined 9a8e477f76971b1ea26f990386186cebd289796b
  build/conf/python.conf
Owners: none

Fix static group status calculation logic (merge from main) (#3632)
  ydb/core/mind/bscontroller/register_node.cpp
Owners: none

enable pgwire logging for pg-expirement (#3590)
  ydb/tests/library/harness/kikimr_config.py
Owners: none

[+] набросок теста
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

[*] без транзакции
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
  ydb/public/sdk/cpp/client/ydb_topic/ut/ya.make
Owners: none

[+] ожидание ack перед чтением
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

[+] тест WriteToTopic_Demo_2
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

[+] примитивный коммит
  ydb/core/persqueue/partition.cpp
  ydb/core/persqueue/partition.h
  ydb/core/persqueue/ya.make
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

[+] в тесте используются транзакции
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

[-] списоко операций только для чтения
  ydb/core/persqueue/partition.cpp
  ydb/core/persqueue/pq_impl.cpp
Owners: none

[/] трассировка
  ydb/core/persqueue/partition.cpp
  ydb/core/persqueue/ya.make
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
  ydb/public/sdk/cpp/client/ydb_topic/ut/ya.make
Owners: none

fix tests
  ydb/core/persqueue/ut/autoscaling_ut.cpp
Owners: none

checkpoint hangup has been fixed
  ydb/library/yql/dq/actors/compute/dq_async_compute_actor.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_channels.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_impl.h
  ydb/library/yql/dq/runtime/dq_input_impl.h
  ydb/tests/fq/yds/test_yq_streaming.py
Owners: @ydb-platform/yql, @ydb-platform/qp

Auto split
  ydb/core/persqueue/events/internal.h
  ydb/core/persqueue/partition.cpp
  ydb/core/persqueue/partition.h
  ydb/core/persqueue/partition_init.cpp
  ydb/core/persqueue/partition_scale_manager.cpp
  ydb/core/persqueue/partition_scale_manager.h
  ydb/core/persqueue/partition_scale_request.cpp
  ydb/core/persqueue/partition_scale_request.h
  ydb/core/persqueue/partition_write.cpp
  ydb/core/persqueue/pq_impl.cpp
  ydb/core/persqueue/pq_impl.h
  ydb/core/persqueue/read_balancer.cpp
  ydb/core/persqueue/read_balancer.h
  ydb/core/persqueue/read_balancer__txinit.h
  ydb/core/persqueue/ya.make
  ydb/core/protos/flat_scheme_op.proto
  ydb/core/protos/pqconfig.proto
  ydb/core/tx/schemeshard/schemeshard__operation_split_merge.cpp
  ydb/core/tx/schemeshard/schemeshard_impl.cpp
Owners: none

FIx
  ydb/core/persqueue/partition_write.cpp
Owners: none

Edit enum / fix typo / fix by pr
  ydb/core/fq/libs/checkpoint_storage/events/events.h
  ydb/core/fq/libs/checkpoint_storage/gc.cpp
  ydb/core/fq/libs/checkpoint_storage/storage_proxy.cpp
  ydb/core/fq/libs/checkpoint_storage/ut/gc_ut.cpp
  ydb/core/fq/libs/checkpoint_storage/ut/storage_service_ydb_ut.cpp
  ydb/core/fq/libs/checkpoint_storage/ydb_state_storage.cpp
  ydb/core/fq/libs/checkpointing/checkpoint_coordinator.cpp
  ydb/core/fq/libs/checkpointing/checkpoint_coordinator.h
  ydb/core/fq/libs/checkpointing/pending_checkpoint.cpp
  ydb/core/fq/libs/checkpointing/pending_checkpoint.h
  ydb/core/fq/libs/checkpointing/ut/checkpoint_coordinator_ut.cpp
  ydb/core/fq/libs/checkpointing_common/defs.h
  ydb/library/yql/dq/actors/compute/dq_compute_actor.h
  ydb/library/yql/dq/actors/protos/dq_events.proto
  ydb/library/yql/minikql/comp_nodes/mkql_saveload.h
Owners: @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp

Update ydb/library/yql/minikql/comp_nodes/mkql_saveload.h
  ydb/library/yql/minikql/comp_nodes/mkql_saveload.h
Owners: @ydb-platform/yql

[+] тест WriteToTopic_Demo_3
  ydb/core/persqueue/partition.cpp
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

Add new datetime ctors.
  ydb/library/yql/core/expr_nodes/yql_expr_nodes.json
Owners: @ydb-platform/yql

Add Increasing cluster resources article.
  ydb/docs/ru/core/devops/ansible/increasing-cluster-resources.md
Owners: @ydb-platform/docs

test
  ydb/core/tablet_flat/flat_executor_ut.cpp
Owners: none

fix build
  ydb/library/yql/minikql/comp_nodes/mkql_saveload.h
Owners: @ydb-platform/yql

[+] тест WriteToTopic_Demo_4
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

Git ignore .clangd files (#3216)
  .gitignore
Owners: none

[+] тест WriteToTopic_Demo_5
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

Fix close note tag.
  ydb/docs/ru/core/devops/ansible/increasing-cluster-resources.md
Owners: @ydb-platform/docs
