Repository ydb-platform/ydb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ydb-platform/docs, @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp, @Krock21, @Krisha11, @zlobober, @gritukan

.github/CODEOWNERS:

/*.md @ydb-platform/docs

/ydb/core/fq/ @ydb-platform/fq
/ydb/core/public_http/ @ydb-platform/fq

/ydb/docs/ @ydb-platform/docs

/ydb/library/yql/ @ydb-platform/yql
/ydb/library/yql/dq @ydb-platform/yql @ydb-platform/qp
/ydb/library/yql/providers/generic @ydb-platform/fq
/ydb/library/yql/providers/pq @ydb-platform/fq
/ydb/library/yql/providers/s3 @ydb-platform/fq
/ydb/library/yql/providers/solomon @ydb-platform/fq

/ydb/library/yql/yt @Krock21 @Krisha11 @zlobober @gritukan

/ydb/services/fq/ @ydb-platform/fq

Fix path of config 435fc8c2256c7aeaf416cc1ef3506c4173396efa
  build/conf/python.conf
  build/plugins/pybuild.py
Owners: none

fix
  ydb/core/protos/table_service_config.proto
Owners: none

fix blobs removing from drafts after restart tablets
  ydb/core/kqp/ut/olap/aggregations_ut.cpp
  ydb/core/kqp/ut/olap/indexes_ut.cpp
  ydb/core/kqp/ut/olap/kqp_olap_ut.cpp
  ydb/core/kqp/ut/olap/write_ut.cpp
  ydb/core/kqp/ut/olap/ya.make
  ydb/core/protos/config.proto
  ydb/core/tx/columnshard/blobs_action/abstract/action.h
  ydb/core/tx/columnshard/blobs_action/abstract/storage.h
  ydb/core/tx/columnshard/blobs_action/blob_manager_db.cpp
  ydb/core/tx/columnshard/blobs_action/tier/gc_actor.cpp
  ydb/core/tx/columnshard/blobs_action/tier/gc_info.h
  ydb/core/tx/columnshard/blobs_action/tier/storage.cpp
  ydb/core/tx/columnshard/blobs_action/tier/write.cpp
  ydb/core/tx/columnshard/blobs_action/transaction/tx_draft.cpp
  ydb/core/tx/columnshard/blobs_action/transaction/tx_draft.h
  ydb/core/tx/columnshard/blobs_action/transaction/tx_write_index.cpp
  ydb/core/tx/columnshard/columnshard.cpp
  ydb/core/tx/columnshard/columnshard__write_index.cpp
  ydb/core/tx/columnshard/columnshard_impl.cpp
  ydb/core/tx/columnshard/columnshard_impl.h
  ydb/core/tx/columnshard/engines/changes/abstract/abstract.cpp
  ydb/core/tx/columnshard/engines/column_engine_logs.cpp
  ydb/core/tx/columnshard/engines/writer/compacted_blob_constructor.cpp
  ydb/core/tx/columnshard/engines/writer/compacted_blob_constructor.h
  ydb/core/tx/columnshard/hooks/abstract/abstract.h
  ydb/core/tx/columnshard/hooks/testing/controller.cpp
  ydb/core/tx/columnshard/hooks/testing/controller.h
  ydb/core/tx/columnshard/test_helper/controllers.cpp
  ydb/core/tx/columnshard/test_helper/controllers.h
  ydb/core/tx/columnshard/ut_rw/ut_backup.cpp
  ydb/core/tx/columnshard/ut_rw/ut_columnshard_read_write.cpp
  ydb/core/tx/columnshard/ut_schema/ut_columnshard_schema.cpp
  ydb/core/tx/tiering/ut/ut_tiers.cpp
  ydb/core/wrappers/fake_storage.h
Owners: none

remove implicit cast of conclusion and status to boolean
  ydb/core/formats/arrow/dictionary/object.h
  ydb/core/tx/columnshard/data_sharing/destination/transactions/tx_data_from_source.cpp
  ydb/core/tx/columnshard/data_sharing/manager/sessions.cpp
  ydb/core/tx/columnshard/engines/reader/transaction/tx_scan.cpp
  ydb/core/tx/columnshard/engines/scheme/column/info.cpp
  ydb/core/tx/columnshard/export/manager/manager.cpp
  ydb/core/tx/schemeshard/olap/columns/update.cpp
  ydb/core/tx/tiering/manager.cpp
  ydb/library/conclusion/result.h
  ydb/library/conclusion/status.h
  ydb/services/metadata/manager/abstract.h
Owners: none

sql flags in dqrun
  ydb/library/yql/tests/sql/dq_file/part0/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part1/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part10/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part11/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part12/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part13/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part14/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part15/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part16/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part16/canondata/test.test_aggregate-library_error_in_aggregation_fail--Results_/extracted
  ydb/library/yql/tests/sql/dq_file/part17/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part18/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part18/canondata/test.test_weak_field-weak_field_aggregation--Analyze_/extracted
  ydb/library/yql/tests/sql/dq_file/part18/canondata/test.test_weak_field-weak_field_aggregation--Results_/extracted
  ydb/library/yql/tests/sql/dq_file/part19/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part2/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part3/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part4/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part4/canondata/test.test_expr-non_persistable_group_by_some_fail--Results_/extracted
  ydb/library/yql/tests/sql/dq_file/part5/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part6/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part7/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part7/canondata/test.test_expr-non_persistable_group_by_having_some_fail--Results_/extracted
  ydb/library/yql/tests/sql/dq_file/part8/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part9/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part0/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part1/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part10/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part2/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part3/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part4/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part5/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part6/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part7/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part8/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part9/canondata/result.json
  ydb/library/yql/tools/dqrun/dqrun.cpp
Owners: @ydb-platform/yql

accurately check that the partition is readable
  ydb/core/persqueue/read_balancer.cpp
  ydb/core/persqueue/read_balancer__types.cpp
Owners: none

cloud id has been fixed (#3544)
  ydb/core/fq/libs/control_plane_storage/internal/task_ping.cpp
Owners: @ydb-platform/fq

Support configuration updates via distconf InvokeOnRoot (#3679)
  ydb/core/blobstorage/nodewarden/distconf.cpp
  ydb/core/blobstorage/nodewarden/distconf.h
  ydb/core/blobstorage/nodewarden/distconf_fsm.cpp
  ydb/core/blobstorage/nodewarden/distconf_invoke.cpp
  ydb/core/blobstorage/nodewarden/distconf_scatter_gather.cpp
  ydb/core/blobstorage/nodewarden/distconf_validate.cpp
  ydb/core/blobstorage/nodewarden/node_warden_resource.cpp
  ydb/core/blobstorage/nodewarden/ya.make
  ydb/core/protos/blobstorage_distributed_config.proto
Owners: none

YQ-2068 make IsPresortSupported const (#3657)
  ydb/library/yql/minikql/mkql_node.cpp
  ydb/library/yql/minikql/mkql_node.h
Owners: @ydb-platform/yql

Intermediate changes
  contrib/python/ydb/py3/ydb/scheme.py
Owners: none

v2 40d1f0a9f746bb174ebd93119c192ba825d8545c
  build/conf/proto.conf
  contrib/tools/protoc/plugins/ya.make
  contrib/tools/protoc/ya.make
Owners: none

Fix utilitycode generation for const fused typedef (backport)
  contrib/tools/cython/Cython/Compiler/FusedNode.py
  contrib/tools/cython/Cython/Compiler/Naming.py
  contrib/tools/cython/cython.py
  contrib/tools/cython/patches/pr5233-backport-support-const.patch
Owners: none

fix
  ydb/library/yaml_config/yaml_config_parser.cpp
Owners: none

fix
  ydb/library/yaml_config/yaml_config_parser.cpp
Owners: none

Support create sequence (#3662)
  ydb/core/kqp/executer_actor/kqp_scheme_executer.cpp
  ydb/core/kqp/gateway/kqp_ic_gateway.cpp
  ydb/core/kqp/host/kqp_gateway_proxy.cpp
  ydb/core/kqp/provider/yql_kikimr_datasink.cpp
  ydb/core/kqp/provider/yql_kikimr_exec.cpp
  ydb/core/kqp/provider/yql_kikimr_expr_nodes.json
  ydb/core/kqp/provider/yql_kikimr_gateway.h
  ydb/core/kqp/provider/yql_kikimr_provider.cpp
  ydb/core/kqp/provider/yql_kikimr_provider_impl.h
  ydb/core/kqp/provider/yql_kikimr_type_ann.cpp
  ydb/core/kqp/ut/pg/kqp_pg_ut.cpp
  ydb/core/protos/kqp_physical.proto
  ydb/library/yql/providers/common/provider/yql_provider.cpp
  ydb/library/yql/providers/common/provider/yql_provider.h
  ydb/library/yql/sql/pg/pg_sql.cpp
  ydb/library/yql/sql/pg/pg_sql_ut.cpp
Owners: @ydb-platform/yql

YT-21534: Modify RPC memory tracking 76e19fad047a3929e625cf7c8411551b5eedb174
  yt/yt/core/rpc/message.cpp
  yt/yt/core/rpc/message.h
  yt/yt/core/rpc/server_detail.cpp
  yt/yt/core/rpc/server_detail.h
  yt/yt/core/rpc/service.h
  yt/yt/core/rpc/service_detail.cpp
  yt/yt/core/rpc/service_detail.h
  yt/yt/core/rpc/unittests/bin/main.cpp
  yt/yt/core/rpc/unittests/handle_channel_failure_ut.cpp
  yt/yt/core/rpc/unittests/lib/common.cpp
  yt/yt/core/rpc/unittests/lib/common.h
  yt/yt/core/rpc/unittests/lib/test_service.cpp
  yt/yt/core/rpc/unittests/lib/test_service.h
  yt/yt/core/rpc/unittests/mock/service.h
  yt/yt/core/rpc/unittests/rpc_allocation_tags_ut.cpp
  yt/yt/core/rpc/unittests/rpc_ut.cpp
  yt/yt/core/ytree/ypath_detail.cpp
Owners: none

[configs] fix segfault on specific single node config
  ydb/library/yaml_config/yaml_config_parser.cpp
Owners: none

YT-21539: Fix deep recursion in TCancelableBoundedConcurrencyRunner 6e8d537565228971a64736d14e8bfeb00280ecab
  yt/yt/core/actions/future-inl.h
  yt/yt/core/actions/invoker_util.h
  yt/yt/core/misc/fs.cpp
  yt/yt/library/process/process.cpp
Owners: none

Fix crash in retryful writer v2 d95cdb95b36efff7cbf942996a10ee4ff755bbfc
  yt/cpp/mapreduce/client/retryful_writer_v2.cpp
Owners: none

add test KqpOlapScheme::ReplaceColumnWithStore
  ydb/core/kqp/ut/scheme/kqp_scheme_ut.cpp
Owners: none

fix test build
  ydb/core/kqp/ut/scheme/kqp_scheme_ut.cpp
Owners: none

set partition count to 64
  ydb/core/kqp/ut/scheme/kqp_scheme_ut.cpp
Owners: none

remove implicit cast of conclusion and status to boolean
  ydb/core/formats/arrow/dictionary/object.h
  ydb/core/tx/columnshard/data_sharing/destination/transactions/tx_data_from_source.cpp
  ydb/core/tx/columnshard/data_sharing/manager/sessions.cpp
  ydb/core/tx/columnshard/engines/reader/transaction/tx_scan.cpp
  ydb/core/tx/columnshard/engines/scheme/column/info.cpp
  ydb/core/tx/columnshard/export/manager/manager.cpp
  ydb/core/tx/schemeshard/olap/columns/update.cpp
  ydb/core/tx/tiering/manager.cpp
  ydb/library/conclusion/result.h
  ydb/library/conclusion/status.h
  ydb/services/metadata/manager/abstract.h
Owners: none

YQL-18053: Adjust Arrow block reader for StructType
  ydb/library/yql/public/udf/arrow/block_reader.h
Owners: @ydb-platform/yql

YQL-18053: Implement YQL Struct to Arrow StructType conversion
  ydb/library/yql/minikql/mkql_type_builder.cpp
Owners: @ydb-platform/yql

YQL-18053: Adjust max block item size for StructType
  ydb/library/yql/minikql/mkql_type_builder.cpp
Owners: @ydb-platform/yql

YQL-18053: Adjust Arrow array builder for StructType
  ydb/library/yql/public/udf/arrow/block_builder.h
Owners: @ydb-platform/yql

YQL-18053: Adjust serialize properties for StructType
  ydb/library/yql/public/udf/arrow/block_reader.h
Owners: @ydb-platform/yql

YQL-18053: Adjust scalar conversion for StructType
  ydb/library/yql/minikql/computation/mkql_block_impl.cpp
Owners: @ydb-platform/yql

YQL-18053: Add tests for block implementation
  ydb/library/yql/tests/sql/dq_file/part14/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part3/canondata/result.json
  ydb/library/yql/tests/sql/sql2yql/canondata/result.json
  ydb/library/yql/tests/sql/suites/blocks/input_struct.txt
  ydb/library/yql/tests/sql/suites/blocks/input_struct.txt.attr
  ydb/library/yql/tests/sql/suites/blocks/struct_type.cfg
  ydb/library/yql/tests/sql/suites/blocks/struct_type.sql
  ydb/library/yql/tests/sql/yt_native_file/part14/canondata/result.json
Owners: @ydb-platform/yql

fix build
  ydb/core/tx/columnshard/engines/portions/column_record.cpp
  ydb/core/tx/columnshard/engines/portions/column_record.h
Owners: none

codestyle
  ydb/core/persqueue/read_balancer.cpp
  ydb/core/persqueue/read_balancer.h
Owners: none

fix test in debug mode
  ydb/core/tx/columnshard/engines/changes/abstract/abstract.cpp
  ydb/core/tx/columnshard/engines/writer/compacted_blob_constructor.h
  ydb/core/tx/columnshard/engines/writer/write_controller.h
Owners: none

Add TxCompleteLag signal (#3588)
  ydb/core/protos/counters_columnshard.proto
  ydb/core/tx/columnshard/columnshard__progress_tx.cpp
  ydb/core/tx/columnshard/columnshard_impl.h
  ydb/core/tx/columnshard/transactions/tx_controller.cpp
  ydb/core/tx/columnshard/transactions/tx_controller.h
Owners: none

Rename and fix
  ydb/core/tx/columnshard/columnshard_impl.cpp
  ydb/core/tx/columnshard/engines/changes/abstract/abstract.h
  ydb/core/tx/columnshard/engines/changes/ttl.cpp
  ydb/core/tx/columnshard/engines/column_engine_logs.cpp
  ydb/core/tx/columnshard/engines/portions/portion_info.cpp
  ydb/core/tx/columnshard/engines/portions/portion_info.h
  ydb/core/tx/columnshard/engines/reader/abstract/read_metadata.cpp
  ydb/core/tx/columnshard/engines/reader/abstract/read_metadata.h
  ydb/core/tx/columnshard/engines/reader/plain_reader/constructor/read_metadata.h
  ydb/core/tx/columnshard/engines/reader/plain_reader/iterator/source.cpp
  ydb/core/tx/columnshard/engines/reader/plain_reader/iterator/source.h
  ydb/core/tx/columnshard/engines/reader/sys_view/chunks/chunks.cpp
  ydb/core/tx/columnshard/export/session/selector/backup/selector.cpp
  ydb/core/tx/columnshard/normalizer/portion/min_max.cpp
Owners: none

Fix IAM layout (#1623)
  ydb/apps/ydb/commands/ya.make
  ydb/apps/ydb/commands/ydb_cloud_root.cpp
  ydb/core/ymq/actor/auth_multi_factory.cpp
  ydb/library/security/ya.make
  ydb/library/security/ydb_credentials_provider_factory.cpp
  ydb/public/sdk/cpp/client/helpers/helpers.cpp
  ydb/public/sdk/cpp/client/helpers/ya.make
  ydb/public/sdk/cpp/client/iam/common/iam.cpp
  ydb/public/sdk/cpp/client/iam/common/ya.make
Owners: none

fix build
  ydb/core/tx/columnshard/engines/writer/compacted_blob_constructor.cpp
  ydb/core/tx/columnshard/engines/writer/compacted_blob_constructor.h
Owners: none

do not check explicit sources every cleanup (#3674)
  ydb/core/persqueue/sourceid.cpp
  ydb/core/persqueue/sourceid.h
  ydb/core/persqueue/ut/sourceid_ut.cpp
Owners: none

simplify code and fix bugs
  ydb/core/persqueue/read_balancer.cpp
  ydb/core/persqueue/read_balancer.h
  ydb/core/persqueue/read_balancer__types.cpp
Owners: none

add small fixes
  ydb/library/actors/core/executor_thread.cpp
Owners: none
