Repository ydb-platform/ydb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ydb-platform/docs, @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp, @Krock21, @Krisha11, @zlobober, @gritukan

.github/CODEOWNERS:

/*.md @ydb-platform/docs

/ydb/core/fq/ @ydb-platform/fq
/ydb/core/public_http/ @ydb-platform/fq

/ydb/docs/ @ydb-platform/docs

/ydb/library/yql/ @ydb-platform/yql
/ydb/library/yql/dq @ydb-platform/yql @ydb-platform/qp
/ydb/library/yql/providers/generic @ydb-platform/fq
/ydb/library/yql/providers/pq @ydb-platform/fq
/ydb/library/yql/providers/s3 @ydb-platform/fq
/ydb/library/yql/providers/solomon @ydb-platform/fq

/ydb/library/yql/yt @Krock21 @Krisha11 @zlobober @gritukan

/ydb/services/fq/ @ydb-platform/fq

Check .attr files too (#3655)
  ydb/library/yql/tests/sql/dq_file.py
  ydb/library/yql/tests/sql/dq_file/part17/canondata/result.json
  ydb/library/yql/tests/sql/dq_file/part19/canondata/result.json
  ydb/library/yql/tests/sql/yt_file.py
  ydb/library/yql/tests/sql/yt_native_file/part0/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part1/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part10/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part11/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part12/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part13/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part14/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part15/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part16/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part17/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part18/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part19/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part2/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part3/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part4/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part5/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part6/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part7/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part8/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part9/canondata/result.json
Owners: @ydb-platform/yql

Fixes
  ydb/core/kqp/executer_actor/kqp_scheme_executer.cpp
  ydb/core/kqp/ut/pg/kqp_pg_ut.cpp
  ydb/library/yql/sql/pg/pg_sql.cpp
Owners: @ydb-platform/yql

improve/fix schema snapshot test (#3661)
  ydb/core/tablet_flat/flat_executor_ut.cpp
Owners: none

[*] текст сообщений в тестах
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

cut local db history
  ydb/core/base/blobstorage.h
  ydb/core/tablet_flat/flat_boot_util.h
  ydb/core/tablet_flat/flat_executor.cpp
  ydb/core/tablet_flat/flat_executor_bootlogic.cpp
  ydb/core/tablet_flat/flat_executor_bootlogic.h
  ydb/core/tablet_flat/flat_executor_ut.cpp
Owners: none

Add more tests for TMPMCRingQueue
  ydb/library/actors/queues/mpmc_ring_queue.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_base.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_multi_threads.cpp
  ydb/library/actors/queues/mpmc_ring_queue_ut_single_thread.cpp
Owners: none

Don't ignore backoff and pass actual exception in Retry()
  ydb/library/yql/providers/common/codec/yql_codec.cpp
  ydb/library/yql/providers/common/codec/yql_codec_buf.h
  ydb/library/yql/providers/yt/codec/codegen/ut/yt_codec_cg_ut.cpp
  ydb/library/yql/providers/yt/codec/yt_codec_io.cpp
  ydb/library/yql/providers/yt/codec/yt_codec_io.h
  ydb/library/yql/providers/yt/codec/yt_codec_io_ut.cpp
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_rpc_helpers.h
  ydb/library/yql/providers/yt/gateway/file/yql_yt_file_comp_nodes.cpp
  ydb/library/yql/providers/yt/gateway/native/yql_yt_transform.cpp
  ydb/library/yql/public/purecalc/io_specs/mkql/spec.cpp
  yt/cpp/mapreduce/client/client_reader.cpp
  yt/cpp/mapreduce/client/client_reader.h
  yt/cpp/mapreduce/interface/io.h
  yt/cpp/mapreduce/io/counting_raw_reader.cpp
  yt/cpp/mapreduce/io/counting_raw_reader.h
  yt/cpp/mapreduce/io/job_reader.cpp
  yt/cpp/mapreduce/io/job_reader.h
  yt/cpp/mapreduce/io/lenval_table_reader.cpp
  yt/cpp/mapreduce/io/lenval_table_reader.h
  yt/cpp/mapreduce/io/node_table_reader.cpp
  yt/cpp/mapreduce/io/proto_table_reader.cpp
  yt/cpp/mapreduce/io/skiff_row_table_reader.cpp
  yt/cpp/mapreduce/io/skiff_row_table_reader.h
  yt/cpp/mapreduce/io/skiff_table_reader.cpp
  yt/cpp/mapreduce/io/stream_table_reader.h
  yt/cpp/mapreduce/io/yamr_table_reader.cpp
Owners: @ydb-platform/yql

TS_WEBPACK: Поддержать несколько выходных директорий (вторая попытка) adef71a669e1a634917cbda95bcff2b327b03444
  build/conf/ts/ts.conf
  build/conf/ts/ts_next.conf
  build/conf/ts/ts_vite.conf
  build/conf/ts/ts_webpack.conf
Owners: none

Fix Windows build with MSVC after update to 1.2.0. 31e49330615a13cb7f14649a90105b7bfb92cf64
  contrib/libs/snappy/config-win.h
Owners: none

checkpoint hangup has been fixed (#3658)
  ydb/library/yql/dq/actors/compute/dq_async_compute_actor.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_channels.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_impl.h
  ydb/library/yql/dq/runtime/dq_input_impl.h
  ydb/tests/fq/yds/test_yq_streaming.py
Owners: @ydb-platform/yql, @ydb-platform/qp

Add high-level work with spilling state
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

YQL-17167: Spill sorted data to disk
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
  ydb/library/yql/minikql/computation/mkql_spiller_adapter.h
Owners: @ydb-platform/yql

Add SpillingSupportState class
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Intermeidate implementation
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Add spilling states to widesort
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Fix order of columns in result tuple type.
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
  ydb/library/yql/minikql/computation/mkql_spiller_adapter.h
Owners: @ydb-platform/yql

YQL-17167: Process spilled sorted states
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Disable spilling in sort operator
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Fix LLVM Sort tests
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Disable spilling in Sort for now
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Remove commented code
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Cleanup code
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Remove commented code
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

Fix uninitialized variable
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

TS_WEBPACK: Поддержать несколько выходных директорий (доработка) b01b89a11275e2cb656a9550f53f7dae0160d7d6
  build/conf/ts/ts_webpack.conf
Owners: none

Also remove TDsTestLoadResponse
  ydb/core/client/server/grpc_server.cpp
  ydb/core/client/server/grpc_server.h
  ydb/core/protos/msgbus.proto
Owners: none

Downgrade ReuntimeVersion Requirement for ReplicateScalar
  ydb/library/yql/minikql/mkql_program_builder.cpp
Owners: @ydb-platform/yql

Update yfm-docs for ya make to Build time: 15.176ms
  build/platform/yfm/ya.make
Owners: none

do not check explicit sources every cleanup (#3638)
  ydb/core/persqueue/sourceid.cpp
  ydb/core/persqueue/sourceid.h
  ydb/core/persqueue/ut/sourceid_ut.cpp
Owners: none

Downgrade RuntimeVersion Requirement for ReplicateScalar (#3667)
  ydb/library/yql/minikql/mkql_program_builder.cpp
Owners: @ydb-platform/yql

Fixes
  ydb/core/kqp/host/kqp_gateway_proxy.cpp
  ydb/core/kqp/provider/yql_kikimr_exec.cpp
  ydb/core/kqp/provider/yql_kikimr_type_ann.cpp
  ydb/core/kqp/ut/pg/kqp_pg_ut.cpp
  ydb/library/yql/providers/common/provider/yql_provider.cpp
  ydb/library/yql/sql/pg/pg_sql_ut.cpp
Owners: @ydb-platform/yql

Fixes
  ydb/core/kqp/host/kqp_gateway_proxy.cpp
Owners: none

write to topic in transaction (#3650)
  ydb/core/persqueue/partition.cpp
  ydb/core/persqueue/partition.h
  ydb/core/persqueue/pq_impl.cpp
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

[/] лишний код
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

Fixes
  ydb/core/kqp/provider/yql_kikimr_type_ann.cpp
Owners: none

Fix UB: runtime error: 1.79769e+308 is outside the range of representable values of type 'unsigned long'
  ydb/core/sys_view/service/ext_counters.cpp
Owners: none

[/] неиспользуемый код
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

test TxUsage.WriteTopic is broken (#3668)
  ydb/public/sdk/cpp/client/ydb_topic/ut/topic_to_table_ut.cpp
Owners: none

Fix for empty name in rpc
  ydb/core/grpc_services/rpc_node_registration.cpp
Owners: none

Add new datetime ctors. (#3660)
  ydb/library/yql/core/expr_nodes/yql_expr_nodes.json
Owners: @ydb-platform/yql
