Repository ydb-platform/ydb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ydb-platform/docs, @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp, @Krock21, @Krisha11, @zlobober, @gritukan

.github/CODEOWNERS:

/*.md @ydb-platform/docs

/ydb/core/fq/ @ydb-platform/fq
/ydb/core/public_http/ @ydb-platform/fq

/ydb/docs/ @ydb-platform/docs

/ydb/library/yql/ @ydb-platform/yql
/ydb/library/yql/dq @ydb-platform/yql @ydb-platform/qp
/ydb/library/yql/providers/generic @ydb-platform/fq
/ydb/library/yql/providers/pq @ydb-platform/fq
/ydb/library/yql/providers/s3 @ydb-platform/fq
/ydb/library/yql/providers/solomon @ydb-platform/fq

/ydb/library/yql/yt @Krock21 @Krisha11 @zlobober @gritukan

/ydb/services/fq/ @ydb-platform/fq

Reading for autoscaling (oldSDK, dedn't start reading from EndOffset) (#3623)
  ydb/core/persqueue/events/global.h
  ydb/core/persqueue/read_balancer.cpp
  ydb/core/persqueue/read_balancer.h
  ydb/core/persqueue/read_balancer__types.cpp
  ydb/core/persqueue/ut/autoscaling_ut.cpp
  ydb/core/persqueue/utils.cpp
  ydb/core/persqueue/utils.h
  ydb/core/persqueue/ya.make
  ydb/core/protos/pqconfig.proto
  ydb/services/persqueue_v1/actors/events.h
  ydb/services/persqueue_v1/actors/partition_actor.cpp
  ydb/services/persqueue_v1/actors/partition_actor.h
  ydb/services/persqueue_v1/actors/read_session_actor.cpp
  ydb/services/persqueue_v1/actors/read_session_actor.h
Owners: none

YA-TC release 11
  build/external_resources/ya-tc/public.resources.json
  build/mapping.conf.json
Owners: none

Fix for empty name in rpc (#3670)
  ydb/core/grpc_services/rpc_node_registration.cpp
Owners: none

fix(kqp): pass column order to KqpIndexLookupJoin
  ydb/core/kqp/host/kqp_type_ann.cpp
  ydb/core/kqp/runtime/kqp_compute.cpp
  ydb/core/kqp/runtime/kqp_program_builder.cpp
  ydb/core/kqp/ut/join/kqp_index_lookup_join_ut.cpp
Owners: none

YT-19731: Whitelist now prevents dropping inner errors with whitelisted attributes
  library/cpp/yt/misc/optional.h
  yt/yt/core/misc/error.cpp
  yt/yt/core/misc/error_helpers-inl.h
  yt/yt/core/misc/error_helpers.h
  yt/yt/core/misc/unittests/error_ut.cpp
Owners: none

Make more readable b38a4ee8796e34e191d1dca393a381080e41544b
  build/platform/java/protoc/ya.make
Owners: none

infly metrics have been fixed for ResolveSubject and ResolveFolder (#3503)
  ydb/core/fq/libs/control_plane_proxy/control_plane_proxy.cpp
Owners: @ydb-platform/fq

checkpoint hangup has been fixed (#3658)
  ydb/library/yql/dq/actors/compute/dq_async_compute_actor.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_channels.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_impl.h
  ydb/library/yql/dq/runtime/dq_input_impl.h
  ydb/tests/fq/yds/test_yq_streaming.py
Owners: @ydb-platform/yql, @ydb-platform/qp

fix
  ydb/core/sys_view/service/ext_counters.cpp
Owners: none

Fixes to stable (#3671)
  ydb/core/fq/libs/control_plane_proxy/control_plane_proxy.cpp
  ydb/library/yql/dq/actors/compute/dq_async_compute_actor.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_channels.cpp
  ydb/library/yql/dq/actors/compute/dq_compute_actor_impl.h
  ydb/library/yql/dq/runtime/dq_input_impl.h
  ydb/tests/fq/yds/test_yq_streaming.py
Owners: @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp

use security printer (#3603)
  ydb/core/client/server/grpc_server.cpp
  ydb/core/grpc_streaming/grpc_streaming.h
  ydb/core/persqueue/partition_monitoring.cpp
  ydb/core/persqueue/ya.make
  ydb/core/protos/flat_tx_scheme.proto
  ydb/core/protos/pqconfig.proto
  ydb/core/tx/schemeshard/schemeshard__operation.cpp
  ydb/core/tx/schemeshard/ya.make
  ydb/library/grpc/server/actors/ya.make
  ydb/library/grpc/server/logger.h
  ydb/library/grpc/server/ya.make
  ydb/public/api/protos/draft/persqueue_common.proto
  ydb/public/api/protos/ydb_persqueue_v1.proto
  ydb/public/api/protos/ydb_topic.proto
Owners: none

Add more tests for TMPMCRingQueue (#3663)
  ydb/library/actors/queues/mpmc_ring_queue.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_base.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_multi_threads.cpp
  ydb/library/actors/queues/mpmc_ring_queue_ut_single_thread.cpp
Owners: none

YQL-17167: Add Spilling support to Sort operator (#3339)
  ydb/library/yql/minikql/comp_nodes/mkql_wide_top_sort.cpp
Owners: @ydb-platform/yql

do not check explicit sources every cleanup
  ydb/core/persqueue/sourceid.cpp
  ydb/core/persqueue/sourceid.h
  ydb/core/persqueue/ut/sourceid_ut.cpp
Owners: none

Remove total timeout to be 15 min default
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_rpc_helpers.cpp
Owners: @ydb-platform/yql

Fix BatchSize attribute in batched commits
  ydb/core/tablet_flat/flat_executor_txloglogic.cpp
Owners: none

Remove total timeout to be 15 min default (#3675)
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_rpc_helpers.cpp
Owners: @ydb-platform/yql

Fix race (#3649)
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_block_reader.cpp
Owners: @ydb-platform/yql

Remove total timeout to be 15 min default (#3675)
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_rpc_helpers.cpp
Owners: @ydb-platform/yql

udf
  ydb/library/yql/cfg/tests/gateways.conf
  ydb/library/yql/cfg/udf_test/gateways.conf
  ydb/library/yql/sql/v1/context.cpp
  ydb/library/yql/sql/v1/context.h
  ydb/library/yql/sql/v1/select.cpp
  ydb/library/yql/sql/v1/sql_query.cpp
  ydb/library/yql/tests/sql/hybrid_file/part0/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part1/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part10/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part2/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part3/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part4/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part5/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part6/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part7/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part8/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part9/canondata/result.json
  ydb/library/yql/tests/sql/sql2yql/canondata/result.json
Owners: @ydb-platform/yql

Merge to release (#3677)
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_block_reader.cpp
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_rpc_helpers.cpp
Owners: @ydb-platform/yql

use COLUMN_STORE in scheme client in py3 sdk
  contrib/python/ydb/py3/ydb/scheme.py
Owners: none

Pull out elapsed metrics even if actor still work
  ydb/library/actors/core/executor_pool_basic.cpp
  ydb/library/actors/core/executor_pool_io.cpp
  ydb/library/actors/core/executor_pool_shared.cpp
  ydb/library/actors/core/executor_pool_shared.h
  ydb/library/actors/core/executor_thread.cpp
  ydb/library/actors/core/executor_thread.h
  ydb/library/actors/core/executor_thread_ctx.h
  ydb/library/actors/core/thread_context.h
Owners: none

Intermediate changes
  contrib/libs/pybind11/README.rst
  contrib/libs/pybind11/include/pybind11/cast.h
  contrib/libs/pybind11/include/pybind11/detail/class.h
  contrib/libs/pybind11/include/pybind11/detail/common.h
  contrib/libs/pybind11/include/pybind11/detail/init.h
  contrib/libs/pybind11/include/pybind11/detail/internals.h
  contrib/libs/pybind11/include/pybind11/detail/type_caster_base.h
  contrib/libs/pybind11/include/pybind11/gil.h
  contrib/libs/pybind11/include/pybind11/gil_safe_call_once.h
  contrib/libs/pybind11/include/pybind11/numpy.h
  contrib/libs/pybind11/include/pybind11/pybind11.h
  contrib/libs/pybind11/include/pybind11/pytypes.h
  contrib/libs/pybind11/include/pybind11/typing.h
  contrib/libs/pybind11/ya.make
  contrib/python/matplotlib/py3/matplotlib/backends/backend_webagg.py
Owners: none

Add InterruptionFailed abort reason dd0ca088a1ee8fcfbff875f343211b99d4a7aa2d
  yt/yt/client/scheduler/public.h
Owners: none

Support configuration updates via distconf InvokeOnRoot
  ydb/core/blobstorage/nodewarden/distconf.cpp
  ydb/core/blobstorage/nodewarden/distconf.h
  ydb/core/blobstorage/nodewarden/distconf_fsm.cpp
  ydb/core/blobstorage/nodewarden/distconf_invoke.cpp
  ydb/core/blobstorage/nodewarden/distconf_scatter_gather.cpp
  ydb/core/blobstorage/nodewarden/distconf_validate.cpp
  ydb/core/blobstorage/nodewarden/node_warden_resource.cpp
  ydb/core/blobstorage/nodewarden/ya.make
  ydb/core/protos/blobstorage_distributed_config.proto
Owners: none

Fixes
  ydb/core/kqp/ut/pg/kqp_pg_ut.cpp
Owners: none

fix(kqp): pass column order to KqpIndexLookupJoin (#3654)
  ydb/core/kqp/host/kqp_type_ann.cpp
  ydb/core/kqp/runtime/kqp_compute.cpp
  ydb/core/kqp/runtime/kqp_program_builder.cpp
  ydb/core/kqp/ut/join/kqp_index_lookup_join_ut.cpp
Owners: none

Modernize grpcpp includes
  ydb/core/client/server/grpc_server.cpp
  ydb/core/grpc_services/base/base.h
  ydb/library/grpc/client/grpc_common.h
  ydb/library/grpc/server/grpc_async_ctx_base.h
  ydb/library/grpc/server/grpc_server.cpp
  ydb/library/grpc/server/grpc_server.h
  ydb/library/grpc/server/ut/grpc_response_ut.cpp
  ydb/public/sdk/cpp/client/impl/ydb_internal/grpc_connections/actions.h
  ydb/services/cms/cms_ut.cpp
  ydb/services/keyvalue/grpc_service_ut.cpp
  ydb/services/persqueue_cluster_discovery/cluster_discovery_service_ut.cpp
  ydb/services/persqueue_v1/persqueue_new_schemecache_ut.cpp
  ydb/services/persqueue_v1/persqueue_ut.cpp
  ydb/services/persqueue_v1/ut/persqueue_common_tests.h
  ydb/services/ydb/ydb_client_certs_ut.cpp
  ydb/services/ydb/ydb_ut.cpp
Owners: none

Fix layout
  ydb/apps/ydb/commands/ya.make
  ydb/apps/ydb/commands/ydb_cloud_root.cpp
  ydb/core/ymq/actor/auth_multi_factory.cpp
  ydb/library/security/ya.make
  ydb/library/security/ydb_credentials_provider_factory.cpp
  ydb/public/sdk/cpp/client/helpers/helpers.cpp
  ydb/public/sdk/cpp/client/helpers/ya.make
  ydb/public/sdk/cpp/client/iam/common/iam.cpp
  ydb/public/sdk/cpp/client/iam/common/ya.make
Owners: none

Do not convert issue to proto twice
  ydb/services/persqueue_v1/grpc_pq_read.cpp
Owners: none

Fix comments
  ydb/core/tx/columnshard/engines/column_engine_logs.cpp
  ydb/core/tx/columnshard/engines/db_wrapper.cpp
  ydb/core/tx/columnshard/engines/portions/portion_info.h
  ydb/core/tx/columnshard/engines/portions/with_blobs.cpp
  ydb/core/tx/columnshard/engines/reader/abstract/read_metadata.h
  ydb/core/tx/columnshard/engines/reader/plain_reader/constructor/read_metadata.h
  ydb/core/tx/columnshard/engines/reader/plain_reader/iterator/context.cpp
  ydb/core/tx/columnshard/engines/ut/ut_logs_engine.cpp
  ydb/core/tx/columnshard/normalizer/portion/min_max.cpp
Owners: none

jobId has been fixed
  ydb/core/fq/libs/control_plane_storage/internal/task_ping.cpp
Owners: @ydb-platform/fq

YQ-2068 make IsPresortSupported const
  ydb/library/yql/minikql/mkql_node.cpp
  ydb/library/yql/minikql/mkql_node.h
Owners: @ydb-platform/yql

More
  ydb/library/grpc/client/grpc_common.h
  ydb/library/grpc/server/grpc_server.h
Owners: none

Yql-17175 add spiller adapter for gracejoin spilling (#3652)
  ydb/library/yql/minikql/computation/mkql_vector_spiller_adapter.h
  ydb/library/yql/minikql/computation/mkql_vector_spiller_adapter_ut.cpp
  ydb/library/yql/minikql/computation/mock_spiller_ut.h
  ydb/library/yql/minikql/computation/ut/ya.make.inc
Owners: @ydb-platform/yql

Fix default config for single node
  ydb/library/yaml_config/yaml_config_parser.cpp
Owners: none

Disable warnings in py3 flatbuffers
  build/conf/fbs.conf
Owners: none

Reduce query-replay message flow
  ydb/core/kqp/compile_service/kqp_compile_service.cpp
  ydb/core/protos/table_service_config.proto
Owners: none

New message distributor 607561e5e668802e53c45f0740eb94458e14daaa
  yt/yt/core/concurrency/nonblocking_batcher-inl.h
  yt/yt/core/concurrency/nonblocking_batcher.h
  yt/yt/core/concurrency/unittests/nonblocking_batcher_ut.cpp
Owners: none
