Repository ydb-platform/ydb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ydb-platform/docs, @ydb-platform/fq, @ydb-platform/yql, @ydb-platform/qp, @Krock21, @Krisha11, @zlobober, @gritukan

.github/CODEOWNERS:

/*.md @ydb-platform/docs

/ydb/core/fq/ @ydb-platform/fq
/ydb/core/public_http/ @ydb-platform/fq

/ydb/docs/ @ydb-platform/docs

/ydb/library/yql/ @ydb-platform/yql
/ydb/library/yql/dq @ydb-platform/yql @ydb-platform/qp
/ydb/library/yql/providers/generic @ydb-platform/fq
/ydb/library/yql/providers/pq @ydb-platform/fq
/ydb/library/yql/providers/s3 @ydb-platform/fq
/ydb/library/yql/providers/solomon @ydb-platform/fq

/ydb/library/yql/yt @Krock21 @Krisha11 @zlobober @gritukan

/ydb/services/fq/ @ydb-platform/fq

replace `OWNER` with `SUBSCRIBER` for build/
  build/config/tests/flake8/ya.make
  build/plugins/lib/nots/package_manager/base/tests/ya.make
  build/plugins/lib/nots/package_manager/base/ya.make
  build/plugins/lib/nots/package_manager/pnpm/tests/ya.make
  build/plugins/lib/nots/package_manager/pnpm/ya.make
  build/plugins/lib/nots/package_manager/ya.make
  build/plugins/lib/nots/semver/tests/ya.make
  build/plugins/lib/nots/semver/ya.make
  build/plugins/lib/nots/test_utils/ya.make
  build/plugins/lib/nots/typescript/tests/ya.make
  build/plugins/lib/nots/typescript/ya.make
  build/plugins/lib/nots/ya.make
  build/plugins/lib/proxy/ya.make
  build/plugins/lib/test_const/proxy/ya.make
  build/plugins/lib/test_const/ya.make
  build/plugins/lib/tests/ruff/ya.make
  build/plugins/lib/ya.make
  build/plugins/tests/fake_ymake/ya.make
  build/plugins/tests/ya.make
  build/plugins/ya.make
  build/prebuilt/contrib/tools/protoc/plugins/cpp_styleguide/ya.make
  build/prebuilt/tools/rorescompiler/ya.make
  build/scripts/c_templates/ya.make
  build/scripts/ya.make
  build/sysincl/check/ya.make
Owners: none

Release gdb14 #6
  build/external_resources/gdb/resources.json
  build/mapping.conf.json
Owners: none

add PartitionCompleted
  ydb/public/api/protos/ydb_topic.proto
Owners: none

[backups] fix winbuild
  ydb/core/tx/replication/service/ya.make
Owners: none

Fix Sequoia transaction ids 1bebbbb33625250f0c9e78165219b3dc27200b01
  yt/yt/client/api/transaction_client.h
Owners: none

Reorder Q11 like CBO (#3592)
  ydb/library/benchmarks/queries/tpch/ydb/q11.sql
  ydb/library/benchmarks/queries/tpch/yql/q11.sql
Owners: none

split huge tests file
  ydb/core/kqp/ut/olap/aggregations_ut.cpp
  ydb/core/kqp/ut/olap/blobs_sharing_ut.cpp
  ydb/core/kqp/ut/olap/clickbench_ut.cpp
  ydb/core/kqp/ut/olap/helpers/aggregation.cpp
  ydb/core/kqp/ut/olap/helpers/aggregation.h
  ydb/core/kqp/ut/olap/helpers/get_value.cpp
  ydb/core/kqp/ut/olap/helpers/get_value.h
  ydb/core/kqp/ut/olap/helpers/local.cpp
  ydb/core/kqp/ut/olap/helpers/local.h
  ydb/core/kqp/ut/olap/helpers/query_executor.cpp
  ydb/core/kqp/ut/olap/helpers/query_executor.h
  ydb/core/kqp/ut/olap/helpers/typed_local.cpp
  ydb/core/kqp/ut/olap/helpers/typed_local.h
  ydb/core/kqp/ut/olap/helpers/writer.cpp
  ydb/core/kqp/ut/olap/helpers/writer.h
  ydb/core/kqp/ut/olap/helpers/ya.make
  ydb/core/kqp/ut/olap/indexes_ut.cpp
  ydb/core/kqp/ut/olap/kqp_olap_ut.cpp
  ydb/core/kqp/ut/olap/statistics_ut.cpp
  ydb/core/kqp/ut/olap/sys_view_ut.cpp
  ydb/core/kqp/ut/olap/ya.make
Owners: none

Support part size limit in case of request via kqp proxy service (#3609)
  ydb/core/kqp/common/events/query.h
  ydb/core/kqp/common/kqp_event_impl.cpp
  ydb/core/protos/kqp.proto
  ydb/tests/functional/kqp/kqp_query_svc/main.cpp
  ydb/tests/functional/kqp/kqp_query_svc/ya.make
  ydb/tests/functional/kqp/ya.make
Owners: none

completed -> finished
  ydb/public/api/protos/ydb_topic.proto
Owners: none

More self-contained dq comp_node (#3605)
  ydb/library/yql/providers/yt/comp_nodes/dq/dq_yt_rpc_helpers.h
  ydb/library/yql/providers/yt/comp_nodes/dq/ya.make
Owners: @ydb-platform/yql

add basic multithread tests
  ydb/library/actors/queues/mpmc_ring_queue.cpp
  ydb/library/actors/queues/mpmc_ring_queue.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_base.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_multi_threads.cpp
  ydb/library/actors/queues/mpmc_ring_queue_ut_single_thread.cpp
  ydb/library/actors/queues/ut/ya.make
  ydb/library/actors/queues/ya.make
Owners: none

correct mute
  .github/config/muted_ya.txt
Owners: none

Change "build/ymake.core.conf" 81d323704caa7ff3a58fc18b7216bd9242c01a1d
  build/ymake.core.conf
Owners: none

small refactoring
  ydb/library/yql/minikql/computation/mkql_vector_spiller_adapter.h
Owners: @ydb-platform/yql

Initial commit
  ydb/core/kqp/gateway/kqp_ic_gateway.cpp
  ydb/core/kqp/host/kqp_gateway_proxy.cpp
  ydb/core/kqp/provider/yql_kikimr_datasink.cpp
  ydb/core/kqp/provider/yql_kikimr_exec.cpp
  ydb/core/kqp/provider/yql_kikimr_expr_nodes.json
  ydb/core/kqp/provider/yql_kikimr_gateway.h
  ydb/core/kqp/provider/yql_kikimr_provider.cpp
  ydb/core/kqp/provider/yql_kikimr_provider_impl.h
  ydb/core/kqp/provider/yql_kikimr_type_ann.cpp
  ydb/core/kqp/ut/pg/kqp_pg_ut.cpp
  ydb/core/protos/kqp_physical.proto
  ydb/library/yql/providers/common/provider/yql_provider.cpp
  ydb/library/yql/providers/common/provider/yql_provider.h
Owners: @ydb-platform/yql

Fix static group status calculation logic (#3627)
  ydb/core/mind/bscontroller/register_node.cpp
Owners: none

Fix static group status calculation logic (#3627)
  ydb/core/mind/bscontroller/register_node.cpp
Owners: none

tests
  ydb/library/yql/tests/sql/yt_native_file/part10/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part11/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part17/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part9/canondata/result.json
Owners: @ydb-platform/yql

added comments
  ydb/library/yql/minikql/computation/mkql_vector_spiller_adapter.h
Owners: @ydb-platform/yql

Fix ThrottlingException raising in YMQ when doing GetQueueUrl with drained queue list budget in 24-1 (#3606)
  ydb/core/ymq/actor/action.h
  ydb/tests/functional/sqs/cloud/test_yandex_cloud_mode.py
Owners: none

split huge tests file (#3629)
  .github/config/muted_ya.txt
  ydb/core/kqp/ut/olap/aggregations_ut.cpp
  ydb/core/kqp/ut/olap/blobs_sharing_ut.cpp
  ydb/core/kqp/ut/olap/clickbench_ut.cpp
  ydb/core/kqp/ut/olap/helpers/aggregation.cpp
  ydb/core/kqp/ut/olap/helpers/aggregation.h
  ydb/core/kqp/ut/olap/helpers/get_value.cpp
  ydb/core/kqp/ut/olap/helpers/get_value.h
  ydb/core/kqp/ut/olap/helpers/local.cpp
  ydb/core/kqp/ut/olap/helpers/local.h
  ydb/core/kqp/ut/olap/helpers/query_executor.cpp
  ydb/core/kqp/ut/olap/helpers/query_executor.h
  ydb/core/kqp/ut/olap/helpers/typed_local.cpp
  ydb/core/kqp/ut/olap/helpers/typed_local.h
  ydb/core/kqp/ut/olap/helpers/writer.cpp
  ydb/core/kqp/ut/olap/helpers/writer.h
  ydb/core/kqp/ut/olap/helpers/ya.make
  ydb/core/kqp/ut/olap/indexes_ut.cpp
  ydb/core/kqp/ut/olap/kqp_olap_ut.cpp
  ydb/core/kqp/ut/olap/statistics_ut.cpp
  ydb/core/kqp/ut/olap/sys_view_ut.cpp
  ydb/core/kqp/ut/olap/ya.make
Owners: none

Adjust for comments
  ydb/library/yql/providers/common/http_gateway/yql_http_default_retry_policy.cpp
  ydb/library/yql/providers/common/http_gateway/yql_http_default_retry_policy.h
Owners: @ydb-platform/yql

docs: Закопать старую документацию (FBP related)
  build/plugins/nots.py
Owners: none

copy trivial and move comples options
  ydb/library/yql/providers/common/http_gateway/yql_http_default_retry_policy.cpp
Owners: @ydb-platform/yql

[backups] fix windows build (#3628)
  ydb/core/tx/replication/service/ya.make
Owners: none

renamings
  ydb/library/yql/minikql/computation/mkql_vector_spiller_adapter.h
Owners: @ydb-platform/yql

comments
  ydb/core/persqueue/read_balancer.cpp
  ydb/core/persqueue/read_balancer.h
  ydb/core/persqueue/read_balancer__types.cpp
Owners: none

YQ-3036 Update ttl on query modify (#3554)
  ydb/core/fq/libs/control_plane_storage/ydb_control_plane_storage_impl.h
  ydb/core/fq/libs/control_plane_storage/ydb_control_plane_storage_queries.cpp
Owners: @ydb-platform/fq

YQ-3036 Update ttl on query modify (#3554)
  ydb/core/fq/libs/control_plane_storage/ydb_control_plane_storage_impl.h
  ydb/core/fq/libs/control_plane_storage/ydb_control_plane_storage_queries.cpp
Owners: @ydb-platform/fq

YT-21331: Fix minor issues for create queue producer
  yt/yt/client/object_client/helpers.cpp
  yt/yt/client/object_client/public.h
Owners: none

Re-collect in query replay replies from cache
  ydb/core/kqp/compile_service/kqp_compile_service.cpp
Owners: none

fix issues
  ydb/core/protos/flat_tx_scheme.proto
  ydb/core/protos/pqconfig.proto
  ydb/library/grpc/server/logger.h
  ydb/public/api/protos/draft/persqueue_common.proto
  ydb/public/api/protos/ydb_persqueue_v1.proto
  ydb/public/api/protos/ydb_topic.proto
Owners: none

Don't attach messages if backend is null
  ydb/core/kqp/common/kqp.h
  ydb/core/kqp/compile_service/kqp_compile_service.cpp
Owners: none

do not check explicit sources every cleanup
  ydb/core/persqueue/sourceid.cpp
  ydb/core/persqueue/sourceid.h
  ydb/core/persqueue/ut/sourceid_ut.cpp
Owners: none

add signals and logging
  ydb/core/tx/columnshard/counters/common/histogram.cpp
  ydb/core/tx/columnshard/counters/common/histogram.h
  ydb/core/tx/columnshard/counters/common/ya.make
  ydb/core/tx/columnshard/counters/engine_logs.h
  ydb/core/tx/columnshard/counters/scan.cpp
  ydb/core/tx/columnshard/counters/scan.h
  ydb/core/tx/columnshard/engines/portions/portion_info.h
  ydb/core/tx/columnshard/engines/reader/plain_reader/iterator/scanner.cpp
  ydb/core/tx/columnshard/engines/reader/plain_reader/iterator/source.h
Owners: none

RoundDown/RoundUp for bigdates (#3615)
  ydb/library/yql/minikql/comp_nodes/mkql_round.cpp
  ydb/library/yql/tests/sql/dq_file/part6/canondata/result.json
  ydb/library/yql/tests/sql/hybrid_file/part9/canondata/result.json
  ydb/library/yql/tests/sql/sql2yql/canondata/result.json
  ydb/library/yql/tests/sql/suites/bigdate/misc.sql
  ydb/library/yql/tests/sql/yt_native_file/part6/canondata/result.json
Owners: @ydb-platform/yql

Added pg type category into result type format (#3618)
  ydb/library/yql/providers/common/schema/expr/yql_expr_schema.cpp
  ydb/library/yql/providers/common/schema/expr/yql_expr_schema.h
  ydb/library/yql/providers/common/schema/mkql/yql_mkql_schema.cpp
  ydb/library/yql/providers/common/schema/parser/ya.make
  ydb/library/yql/providers/common/schema/parser/yql_type_parser.cpp
  ydb/library/yql/providers/common/schema/parser/yql_type_parser.h
  ydb/library/yql/tests/sql/dq_file/part15/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part0/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part1/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part10/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part11/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part12/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part13/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part14/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part15/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part16/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part17/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part18/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part19/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part2/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part3/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part4/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part5/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part6/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part7/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part8/canondata/result.json
  ydb/library/yql/tests/sql/yt_native_file/part9/canondata/result.json
Owners: @ydb-platform/yql

fixes
  ydb/public/api/protos/ydb_persqueue_v1.proto
  ydb/public/api/protos/ydb_topic.proto
Owners: none

types
  ydb/public/api/protos/ydb_topic.proto
Owners: none

Add basic multithread tests fot MPMCRingQueue (#3631)
  ydb/library/actors/queues/mpmc_ring_queue.cpp
  ydb/library/actors/queues/mpmc_ring_queue.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_base.h
  ydb/library/actors/queues/mpmc_ring_queue_ut_multi_threads.cpp
  ydb/library/actors/queues/mpmc_ring_queue_ut_single_thread.cpp
  ydb/library/actors/queues/ut/ya.make
  ydb/library/actors/queues/ya.make
Owners: none
